@import "tailwindcss";

@layer base {
  body {
    background-color: #f0f2f5;
    color: #0f172a;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom utility for clean horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

